@font-face {
  font-family: 'Exo';
  src: url('/Exo-Regular.otf');
  font-display: swap;
}

* {
  font-family: 'Exo', sans-serif;
}

body {
  margin: 0;
  color: #9593c3;
}

div.background {
  background: rgb(47,55,97);
  background: linear-gradient(180deg, rgb(47, 55, 97) 0%, rgb(17, 20, 35) 50%, rgb(0, 0, 0) 100%);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}

hr {
  border: 0;
  height: 3px;
  background: rgb(183,74,131);
  background: linear-gradient(90deg, rgba(183,74,131,0.1) 0%, rgba(183,74,131,1) 50%, rgba(183,74,131,0.1) 100%);
  margin: 1em auto;
  max-width: 32em;
}

a:link, a:visited, a:hover, a:active {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

:root {
  --color-faction-unaligned: #ffce00;
  --color-faction-enlightened: #00b056;
  --color-faction-resistance: #00adef;
  --color-faction-machina: #ff2020;
  
  --toastBarHeight: 0;
  --toastContainerTop: auto;
  --toastContainerRight: auto;
  --toastContainerBottom: 1rem;
  --toastContainerLeft: calc(50vw - 8rem);
  --toastWidth: 16rem;

  --sms-bg: rgba(14, 11, 28, 0.9);
  --sms-border: 3px double #5e5a75;
  --sms-padding: 0.25em 0.5em;
  --sms-font-size: 1.25em;
  --sms-width: 100%;
  --sms-max-width: 100%;
  --sms-options-bg: rgba(14, 11, 28, 0.9);
  --sms-options-border: 3px double #5e5a75;
  --sms-options-border-radius: 0 0 1ex 1ex;
  --sms-li-active-bg: rgba(94, 90, 117, 0.25);
  --sms-selected-bg: rgba(94, 90, 117, 0.25);
  --sms-remove-btn-hover-color: var(--color-faction-unaligned);
}

._toastItem {
  max-width: 80vw;
}

._toastMsg {
  text-align: center;
}

.successToast {
  --toastBackground: #00b056;
}

.errorToast {
  --toastBackground: #ff2020;
}

.flex {
  display: flex;
}

input[type=text], select, button {
  font-size: 1.25em;
  background: rgba(14, 11, 28, 0.9);
  border: 3px double #5e5a75;
  color: #FFFFFF;
  border-radius: 8px;
  padding: 0.25em 0.5em;
  text-align: center;
  min-width: 20px;
}

.level span { color: #FFFFFF }
.level.level-1 { color: #D9DD1D; }
.level.level-2 { color: #FFB01C; }
.level.level-3 { color: #FF8733; }
.level.level-4 { color: #FF632C; }
.level.level-5 { color: #C80431; }
.level.level-6 { color: #FF0E82; }
.level.level-7 { color: #B400FF; }
.level.level-8 { color: #5200FF; }

div.paginator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
}
div.paginator img {
  height: 48px;
  width: 48px;
  opacity: 1;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}
div.paginator img.disabled {
  opacity: 0.1;
  cursor: not-allowed;
}